@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #0a0a0a, #1b1b1b, #222);
  color: #fff;
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  margin-bottom: 30px;
  background: #f4f4f4;
}

header .logo {
  width: 250px; /* menor tamanho */
  height: auto;
}

.menu {
  display: flex;
  gap: 50px;
}

.menu a {
  font-size: 22px;
  text-decoration: none;
  font-weight: bold;
  color: #333;
  gap: 20px;
}

#pesquisa {
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #aaa;
}

/* ===== CARDS ===== */

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 20px;
}

.card {
  background: #181818;
  width: 300px; 
  height: 500px; 
  padding: 20px;
  margin: auto;
  border-radius: 14px;
  text-align: center;
  border: 2px solid transparent;
  box-shadow: 0 0 10px #000;
  cursor: pointer;
}

.img-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 12px;
  transition: 0.3s ease;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 12px;
  transition: 0.4s ease;
}

.img-container:hover img {
  transform: scale(1.1);
}

.card h2 {
  font-size: 18px;
  color: #ff9800;
}

.card p {
  font-size: 14px;
  line-height: 1.4;
  margin: 4px 0;
}
